.home-container {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  width: 420px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card h1 {
  margin-bottom: 10px;
}

.card p {
  color: gray;
  margin-bottom: 30px;
}